mixin noteMsg(msgs)
    .infoBar
        each msg in msgs
            p.note(class=msg.noteType)
                strong #{msg.pretext}: 
                | #{msg.value}

mixin vulnTableEntry(vtid, cvss, type, affProd, affSubProd, status, bounty, dateReported)
    tr
        td
            a(href='/vuln/id/' + vtid) #{vtid}
        td.font-weight-bold.cvssScore #{cvss}
        td #{type}
        td #{affProd}
        td #{affSubProd}
        td.font-weight-bold.status #{status}
        td #{bounty}
        td.dateReported #{dateReported}