include includes/global_mixins.pug

mixin sidebarOption(faico, title, link)
    .d-inline.w-100
        a.d-flex.align-items-center(href=link)
            i(style='vertical-align: middle;' class=faico).me-3.ms-2.float-start
            | #{title}


html
    head
        block headblock
        title= 'VulnerabiliTea - ' + title
        include includes/head_includes.pug
    body
        include includes/body_includes.pug
        header#header.container-fluid.topNavContainer
            .row.topNavRow.justify-content-center
                .col-6.headerCol.text-center.d-flex.align-items-center
                    .sidebarBtn(onclick='sidebarHandler();')
                        i.fas.fa-bars.fa-2x.baseHamburgerMenu
                    a(href='/')
                        i.color-white.fas.fa-mug-hot.fa-2x.baseTitleIco
                    h1.baseTitleHeader VulnerabiliTea
                .col-6.headerCol.headerUserSpace.text-center.d-flex.align-items-center.justify-content-end
                    .d-inline
                        if username
                            a#headerSignedIn.d-flex.align-items-center.justify-content-end.color-white(href='/user/profile')
                                i(style='vertical-align: middle;' class='fas fa-user-circle fa-2x').me-2.ms-2.float-start
                                | #{username}
                        else
                            a#headerSignIn.d-flex.align-items-center.justify-content-end.color-white(href='/login')
                                i(style='vertical-align: middle;' class='fas fa-sign-in-alt fa-2x').me-2.ms-2.float-start
                                | Sign In
        #sidebar.sidebar
            +sidebarOption('fas fa-shield-alt', 'Activity', '/activity')
            if username
                +sidebarOption('fas fa-tools', 'Manage', '/vuln')
            +sidebarOption('fas fa-info-circle', 'About', '/about')
            if username
                +sidebarOption('fas fa-sign-out-alt', 'Logout', '/logout')
        .mb-5
        .content
            block content
        footer#footer.text-center.mt-3
            p.my-2.mx-1.copyright Copyright (c) 2021 VulnerabiliTea — #{versionCode} (#{version})