mixin featureCard(faico, title, content)
    .col-lg-4.col-md-9.col-sm-12.cardCol.text-center.mt-3
        .card.mx-4
            .card-header.featureCardHeader
                .cardTitleHolder
                    i.my-2(class=faico)
                    h3.featureCardTitle= title
            .card-body
                p.card-text.featureCardContent= content
html
    head
        title VulnerabiliTea
        include includes/head_includes.pug
    body
        include includes/body_includes.pug
        header.container-fluid.mb-3.titleContainer
            .row.titleRow.justify-content-center
                .col-lg-4.col-md-12.titleCol.text-center
                    .titleIcoText.align-items-center
                        i.fas.fa-mug-hot.fa-10x.mt-3.titleIco
                        h1.titleHeader VulnerabiliTea
                    h2.subTitleHeader Managing security vulnerabilities has never been easier
                    a(href='/register')
                        button.btn.startButton(role='button') Get Started ❯
                    // hacky solution, but it works for now
                    .mb-5
        .container-fluid.featureCardsContainer.mb-5
            .row.titleRow.justify-content-center
                .col-lg-6.col-md-12.titleCol.text-center
                    h2.featureQuestionHeader Why choose us?
            .row.featureCardsRow.justify-content-center
                +featureCard('fas fa-user-secret fa-3x', 'Privacy Focused', 'We respect your privacy. We will never give access to your information to any third-parties. We are also commited to store as little information about you as possible for our services to function properly.')
                +featureCard('fas fa-gavel fa-3x', 'Easy to Use', 'We have tried to make our user-interface straightforward. Creating new security vulnerability reports and sharing it with friends and companies is just a few clicks away. We suggest you give it a try.')
                +featureCard('fab fa-github fa-3x', 'Open Source', 'VulnerabiliTea is fully open source. If you\'d like to do so, you can help us by contributing to this projects GitHub page. There you can report bugs, help us develop, or use VulnerabiliTea for a project of your own.')
        footer#footer.text-center.mt-3
            p.my-2.mx-1.copyright Copyright (c) 2021 VulnerabiliTea — #{versionCode} (#{version})