extends ../base.pug


mixin attachmentEditEntry(entry)
    .attachmentEntry
        .d-inline-block
            p.attachmentTitle.h4.ms-2= entry.file
        i.deleteAttachmentBtn.fas.fa-times-circle.float-start.fa-2x
        br

block headblock
    - var title = 'Edit Discovery'

block content
    .container-fluid.justify-content-center.mt-3.vulnCont
        .row.justify-content-center
            .col-xl-8.col-lg-10.col-md-12.col-sm-12.border-bottom.border-primary
                .row.justify-content-center
                    .col-12
                        h1#vulnEditHeader(vtid=vuln.vtid) Edit Discovery - #{vuln.vtid}
        .row.justify-content-center
            .col-xl-8.col-lg-10.col-md-12.col-sm-12.mt-3
                .row#infoDiv
                form#vulnForm(action='/vuln/edit/' method='post')
                    .row
                        .col-6.mb-3
                            .mb-3
                                label.form-label(for='affectedProduct') Affected Product
                                input.form-control(name='affectedProduct' type='text' id='affectedProduct' value=vuln.affectedProduct placeholder='Product Name' required)
                        .col-6.mb-3
                                label.form-label(for='affectedFeature') Affected Feature
                                input.form-control(name='affectedFeature' type='text' id='affectedFeature' value=vuln.affectedFeature placeholder='File Sharing' required)
                    .row
                        .col-4.mb-3
                            label.form-label(for='vulnType') Vulnerability Type
                            select#vulnType.form-control.form-select.select-input(name='vulnType' aria-label='Vulnerability Type' required)
                                option(value='Reflective XSS') Reflective XSS
                                option(value='Stored XSS') Stored XSS
                                option(value='SQL Injection') SQL Injection
                                option(value='SSRF') SSRF
                                option(value='CSRF') CSRF
                                option(value='RCE') RCE
                                option(value='Other') Other
                        .col-4.mb-3
                                label.form-label(for='cvssScore') CVSS Score
                                input.form-control#cvssScore(name='cvssScore' value=vuln.cvss type='number' min='1.0' max='10.0' step='0.01' placeholder='1.0 - 10.0' required)
                        .col-4.mb-3
                            label.form-label(for='status') Status
                            select#status.form-control.form-select.select-input(name='status' aria-label='Status' required)
                                option(value='Unpatched') Unpatched
                                option(value='Reported') Reported
                                option.text-primary(value='Patched') Patched
                    .row
                        .col-12.mb-3
                            label.form-label(for='description') Description
                            .trumbowyg.vulnRTEditor.form-control#vulnDescEdit(name='trumbowyg')
                    .row
                        .col-12.mt-1
                            input#publicBox.form-check-input(name='isPublic' type='checkbox')
                            label.ms-2.form-check-label.color-brown.h4(for='publicBox') Public
                    .row
                        .col-6.mb-4
                            .form-group
                                label.form-label(for='pocFileSelector') Proof Of Concept
                                input#pocFileSelector.form-control.form-control-file(type='file' name='vulnAttachment' accept='.zip' multiple)
                        .col-6.mb-4
                            .form-group
                                label.form-label(for='bountyAmount') Bounty Amount
                                .input-group
                                    input.form-control(name='bountyAmount' type='number' id='bountyAmount' value=vuln.bounty placeholder='100' aria-describedby='bountyAddon' aria-label='Bounty' required)
                                    span.bg-silver.input-group-text#bountyAddon USD
                    if vuln.attachments.length > 0
                        .row
                            .col-12.mb-4
                                .form-group
                                    p.mb-1.color-brown Attachments
                                    .attachments.color-brown
                                        each entry in vuln.attachments
                                            +attachmentEditEntry(entry)

                    .row.justify-content-center.text-center
                        .col-8
                            button.btn.btn-primary.vulnSubmitBtn Confirm Edit